@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #app {
    @apply h-full w-full;
  }

  body {
    @apply bg-[#1a1a1a] font-Heebo text-gray-50;
  }

  #app {
    @apply container mx-auto flex flex-col items-center gap-14 px-4 pt-8 sm:px-8 sm:pt-9 md:gap-16 md:px-12 md:pt-10 lg:gap-20 lg:px-16 xl:gap-24 xl:px-20;
  }

  .hello,
  .whoami,
  .skills,
  .portfolio,
  .tools {
    @apply flex w-full max-w-[650px] flex-col items-center justify-center gap-10 pb-8 sm:pb-9 md:gap-14 md:pb-10;
  }
}

@layer components {
  .skill-card {
    @apply flex h-14 w-full min-w-[200px] max-w-[240px] animate-scaler items-center justify-center gap-3 rounded-lg border border-gray-600 bg-[#2a2a2a] shadow-lg md:h-16;
  }

  .project-card {
    @apply relative h-[265px] w-full min-w-[330px] max-w-[350px] overflow-hidden rounded-lg border border-gray-600 bg-cover bg-center bg-no-repeat shadow-lg;
  }
}

@layer utilities {
  /* NavigationBar.vue */

  .nav-bar {
    @apply flex select-none gap-4 md:gap-8;
  }

  .nav-bar-link {
    @apply transition ease-in-out hover:text-pink-300;
  }

  .nav-bar-link.router-link-active {
    @apply text-pink-400;
  }

  /* NavigationBar.vue */

  /* HomeView.vue */

  .socials-link {
    @apply inline-block h-6 w-6 transition ease-in-out;
  }

  /* HomeView.vue */

  /* AboutView.vue */

  .whoami-link {
    @apply underline transition ease-in-out hover:text-pink-400;
  }

  /* AboutView.vue */

  /* SkillsView.vue */

  .skills {
    @apply cursor-default select-none;
  }

  .skills-icon {
    @apply h-6 w-6;
  }

  /* SkillsView.vue */

  /* PortfolioView.vue */

  .portfolio {
    @apply max-w-[800px];
  }

  .project-card::before,
  .project-card::after {
    @apply absolute left-0 z-10 h-full w-[calc(100%+10px)] bg-[#222222] transition duration-500 content-[''];
  }

  .project-card::before {
    @apply -top-5 -translate-y-full;
  }

  .project-card:before {
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0% 100%);
  }

  .project-card::after {
    @apply -bottom-5 translate-y-full;
  }

  .project-card:after {
    clip-path: polygon(0 55%, 100% 0, 100% 100%, 0% 100%);
  }

  .project-card:hover::before,
  .project-card:hover::after {
    @apply translate-y-0;
  }

  .project-card:hover .project-info {
    @apply opacity-100 delay-300;
  }

  .project-name {
    @apply relative w-fit text-lg;
  }

  .project-link {
    @apply flex h-10 w-fit cursor-pointer select-none items-center gap-2 rounded-md border border-gray-600 bg-[#222222] px-3 shadow-pink-400 transition duration-300 ease-in-out hover:border-pink-400 hover:text-pink-400 hover:shadow-[0px_0px_10px];
  }

  /* PortfolioView.vue */

  .animation-delay-02 {
    animation-delay: 0.2s;
  }
  .animation-delay-04 {
    animation-delay: 0.4s;
  }
  .animation-delay-06 {
    animation-delay: 0.6s;
  }
  .animation-delay-08 {
    animation-delay: 0.8s;
  }
  .animation-delay-10 {
    animation-delay: 1s;
  }
  .animation-delay-12 {
    animation-delay: 1.2s;
  }
  .animation-delay-14 {
    animation-delay: 1.4s;
  }
  .animation-delay-16 {
    animation-delay: 1.6s;
  }
}
